body {
    background-color: #505620;
}

h1 {
    color: white;
}

.container {
    /* max-width: 1140px; */
    max-width: 1500px;
}

.card {
    background-color: lightgray;
}

.buyIns {
    /* color: lightgray; */
}

.position {
    /* color: lightblue; */
}

.winner {
    color: gold;
    -webkit-text-fill-color: gold; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/* .chip  {
    fill: currentColor;
} */

/* Table */
#results th, .results th, td {
    border: 1px solid #000;
    padding: 5px;
    margin: 5px;
}

#results th, .results th {
    background-color: darkgreen;
}

#results, .results {
    background-color: #218838;
}

/* graphs */
#graphs {
    background-color: white;
    padding: 10px;
}

.jumbotron, .footer {
    background-color: #218838;
}

.footer > a {
    color: darkgreen;
    text-decoration: none;
}

body > footer > div > span.text-muted > a {
    color: darkgreen;
    text-decoration: none;
}

body > footer > div > span.float-right > a {
    color: darkgreen;
    text-decoration: none;
}