<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Poker Stats">
    <meta name="keywords" content="poker, stats, texas, holdem">
    <meta name="author" content="Alex Hedley">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/vendor/sticky-footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="css/jquery-ui.min.css"> -->
    <link rel="stylesheet" href="css/vendor/jquery-ui.1.12.1.min.css">
    <link rel="stylesheet" href="css/vendor/pivot.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.13.0/pivot.min.css"> -->
    <link rel="stylesheet" href="css/styles.css">

    <link rel="shortcut icon" href="favicon.ico">

    <!-- Fonts -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'> -->

    <title>Poker Stats</title>
  </head>
  <body ng-app="myApp">
    <main role="main" class="container">

        <section class="jumbotron title-container text-center">
            <div>
                <h1>🃏 Poker Stats</h1>

                <div class="row justify-content-md-center">
                    <div class="col-lg-8">
                        <div class="input-group search-bar">
                            <input type="text" class="form-control" ng-model='searchText' placeholder="Search for a game..." aria-label="Search">
                            <button type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <button class="btn btn-success float-right" type="button" data-toggle="collapse" data-target="#image" aria-expanded="false" aria-controls="image">
            Show/Hide
        </button>
        <div class="collapse" id="image">
            <div class="row justify-content-md-center">
                <img src="images/poker-table.svg" width="500px" alt="Poker Table" />
            </div>
        </div>

        <br />

        <div ng-controller="myController">

            <div class="container">

                <div class="row justify-content-md-center">
                    <div class="">

                        <table id="results" class="sortable">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="game in games">
                                    <td>{{game.date}}</td>
                                    <td>{{game.name}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <br />

                <div class="row justify-content-md-center">
                    <div class="">

                        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li ng-repeat="set in sets" data-target="#carouselExampleCaptions" data-slide-to="{{$index}}"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div ng-repeat="game in games" class="carousel-item" ng-class='{active:$first}'>
                                    <!-- <img src="/poker/{{game.image}}" class="d-block w-100" alt="{{game.name}}"> -->
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>{{game.name}}</h5>
                                        <p>{{game.description}}</p>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>
                </div>

                <br />
                
                <!-- <div class="row">
                    <div class="col">

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="ui" ng-model="ui" ng-change="generatePivot()">
                            <label class="form-check-label" for="ui">UI</label>
                        </div>

                    </div>
                </div> -->

                <!-- <div class="row">
                    <div class="col">

                        <div id="output" style="margin: 30px;">
                            <p>Table...</p>
                        </div>

                    </div>
                </div> -->

                <div class="row">
                    <div 
                        ng-repeat="game in games | orderBy:'-id' | filter:searchText"
                        class="col-md-3"
                        style="margin-bottom: 50px;"
                    >
                        <div class="card" style="width: 18rem;" data-id="{{game.id}}">
                            <img ng-if="game.image.length > 0" ng-src="{{game.image}}" class="card-img-top" alt="{{game.name}}">
                            <div class="card-header">
                                {{game.name}}
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{game.description}}</p>
                                <div ng-repeat="player in game.players">
                                    <p>{{player.name}} 
                                        <!-- <span class="position" title="Position">({{player.position}})</span>  -->
                                        <span class="badge badge-primary" title="Position">{{player.position}}</span>
                                        <!-- <span class="buyIns" title="Buy Ins" ng-if="player.buyIns > 0">[{{player.buyIns}}]</span>  -->
                                        <span class="badge badge-secondary" title="Buy Ins" ng-if="player.buyIns > 0">{{player.buyIns}}</span>
                                        <span class="winner" ng-if="player.position == 1"><strong>Winner</strong></span>
                                    </p>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                {{game.date | toDate | date:'mediumDate'}}
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>

    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted"><a href="https://AlexHedley.github.io/">Alex Hedley</a></span>
            <span class="float-right"><i class="fab fa-github"></i> <a href="https://github.com/AlexHedley/poker">GitHub</a></span>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/vendor/jquery-3.3.1.min.js" ></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="js/vendor/jquery-ui.min.js"></script>
    <!-- <script src="js/vendor/jquery-ui.1.12.1.min.js"></script> -->
    <!-- <script src="js/vendor/popper.min.js"></script> -->
    <script src="js/vendor/bootstrap.min.js"></script>
    <!-- <script src="js/vendor/jquery.pretty-text-diff.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script> -->
    <script src="js/vendor/angular.min.js"></script>
    <!-- <script src="js/vendor/angular-filter.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.13.0/pivot.min.js"></script> -->
    <script src="js/vendor/pivot.min.js"></script>
    <script src="js/vendor/sorttable.js"></script>
    <script src="js/app.js"></script>
    </body>
</html>